.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
  height: 80px;
  width: 80px;
  margin: 10px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.bg-red {
  background-color: red;
}

.bg-black {
  background-color: black;
}

.bg-green {
  background-color: green;
}

.btn:hover {
  opacity: 0.8;
}